<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/register_servuceprovider">Register</a></li>
  <li><a href="/view_payment_history">view payment history</a></li>
  <li><a href="/view_verified_serviceprovider">view verified serviceprovider</a></li>
  <li><a href="/view_previous_history">view previous history</a></li>
  <li><a href="/View_profile">view profile</a></li>
  <li><a href="/view_request">view request</a></li>
  <li><a href="/view_review_and_rating">view review and rating</a></li>
  <li><a href="/view_services">change service</a></li>
  <li><a href="/View_service">view own service management</a></li>

</ul>
</body>
</html>
