{% extends 'service provider/provider_indexx.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table class=" table table-bordered" border="1">
    <tr style="background-color: #D81324;color: black">
    <th  scope="col">#</th>
    <th  scope="col">Service name</th>
    <th  scope="col">Amount</th>
    <th  scope="col"></th>
  </tr>
    {% for i in data %}

  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.SERVICE.service_name }}&nbsp;</td>
    <td>{{ i.amount }}</td>
  <td><a href="delete_provider_service/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you sure to delte?')" >delete</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}
