<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Vehico</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Classic Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="/static/provider_temp/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="/static/provider_temp/css/font-awesome.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<!--header-->
	<h1>
		<span>P</span>rovider
		<span>R</span>egister
		<span>F</span>orm</h1>
	<!--//header-->
	<!-- content -->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<form action="/register_servuceprovider_post" method="post">
				<div class="form-style-agile">
					<label>Your Name</label>
					<div class="pom-agile">
						<input placeholder="Your Name" name="textfield" type="text" required="">
						<span class="fa fa-user-o" aria-hidden="true"></span>
					</div>
				</div>
				<div class="form-style-agile">
					<label>Place</label>
					<div class="pom-agile">
						<input placeholder="Place" name="textfield10" type="text"  required="">
						<span class="fa fa-home" aria-hidden="true"></span>
					</div>
				</div>
                <div class="form-style-agile">
					<label>Email</label>
					<div class="pom-agile">
						<input placeholder="Email" name="textfield2" type="email" pattern="[a-zA-Z0-9._-]+@[a-z]+\\.+[a-z]+" required="">
						<span class="fa fa-envelope" aria-hidden="true"></span>
					</div>
				</div>
                <div class="form-style-agile">
					<label>Your contact</label>
					<div class="pom-agile">
						<input placeholder="contact" name="textfield3" type="text" pattern="[6-9][0-9]{9}" required="">
						<span class="fa fa-phone" aria-hidden="true"></span>
					</div>
				</div>
				<div class="form-style-agile">
					<label>Password</label>
					<div class="pom-agile">
						<input placeholder="Password" name="textfield6" type="password" id="password1" pattern="[A-Za-z0-9]{3,8}" required="">
						<span class="fa fa-key" aria-hidden="true"></span>
					</div>
				</div>
                <div class="form-style-agile">
					<label>Location</label>
					<div class="pom-agile">
						<div id="gmap"></div>
                <input type="hidden" name="textfield8" id="lt"  class="form-control" required/>
                <input type="hidden" name="textfield9" id="lg" class="form-control" required/>
					</div>
				</div>
{#				<div class="form-style-agile">#}
{#					<label>Confirm Password</label>#}
{#					<div class="pom-agile">#}
{#						<input placeholder="Confirm Password" name="Confirm Password" type="password" id="password2" required="">#}
{#						<span class="fa fa-key" aria-hidden="true"></span>#}
{#					</div>#}
{#				</div>#}
{#				<div class="sub-agile">#}
{#					<input type="checkbox" id="brand1" value="">#}
{#					<label for="brand1">#}
{#						<span></span>I Accept to the Terms & Conditions</label>#}
{#				</div>#}
				<div class="clear"></div>
				<input type="submit" value="Register" style="background-color: red">
			</form>
		</div>
	</div>
    </body>

</html>
    <style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
</style>

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
</script>
<script type="text/javascript">

    var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(11.618061975930,75.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lt").value = clickLat.toFixed(5);
                document.getElementById("lg").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });
    }

    window.onload = function () { GetMylocation() };


</script>
     <style>
 div#gmap {

        width: 450%;
        height: 356px;
        border:double;
 }
    </style>

{#    <form id="form1" runat="server">#}
<center>
<!-- MAP HOLDER -->

<!-- REFERENCES -->
{#Lat: <input type="text" id='lat'>#}
{#Lon: <input type="text" id='lon'>#}

</center>




<script>

function GetMylocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    //x.innerHTML = "Geolocation is not supported by this browser.";
      alert("Geolocation is not supported by this browser.")
  }
}
var x1 = document.getElementById("lt");
var x2 = document.getElementById("lg");
var map;
function showPosition(position) {
  x1.value=position.coords.latitude;
  x2.value=position.coords.longitude;

  var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var myOptions = {
                zoom:14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("lt").value = clickLat.toFixed(5);
                document.getElementById("lg").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });


}
</script>
	<!-- //content -->
	<!--footer-->
	<div class="footer">
		<h2>&copy; 2018 Classic Register Form. All rights reserved | Design by
			<a href="http://w3layouts.com">vehico</a>
		</h2>
	</div>
	<!--//footer-->


	<!-- password-script -->
{#	<script>#}
{#		window.onload = function () {#}
{#			document.getElementById("password1").onchange = validatePassword;#}
{#			document.getElementById("password2").onchange = validatePassword;#}
{#		}#}
{##}
{#		function validatePassword() {#}
{#			var pass2 = document.getElementById("password2").value;#}
{#			var pass1 = document.getElementById("password1").value;#}
{#			if (pass1 != pass2)#}
{#				document.getElementById("password2").setCustomValidity("Passwords Don't Match");#}
{#			else#}
{#				document.getElementById("password2").setCustomValidity('');#}
{#			//empty string means no validation error#}
{#		}#}
{#	</script>#}
	<!-- //password-script -->

